@{
    ViewBag.Title = "faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-container">
    
    <div class="row">
      <div class="one columns centered">
        <span class="work-triangle-top">&nbsp;</span>
      </div>
    </div>



    <div class="blog-content-container">
      <div class="row">
        <div class="twelve columns">
          <!-- BEGINNING OF THE BLOG-POST -->
          <article class="blog-inner-content-container">
            
            <!--<img src="img/blog/blog-3.jpg" alt="blog">-->


             <div class="row">
            <div class="two columns mobile-two">
              
               <div class="comment-reply">
                  <ul>
                    <li>Come posso pagare?</li>
                    
                  </ul>
              </div>
            </div>
            <div class="nine columns offset-by-one mobile-two">
              <div class="panel">
                <span class="comment-arrow">&nbsp;</span>
      <p>Accettiamo pagamenti attraverso carta di credito o bonifico anticipato. Le carte di credito supportate sono VISA, MASTERCARD e le altre accettate del circuito PAYAPL.</p>
              <p>La sicurezza viene garantita attraverso connessione sicura SSL gestita da PayPal Inc.</p>
    </div>
            </div>
          </div>




          <div class="row">
            <div class="two columns mobile-two">
              
               <div class="comment-reply">
                  <ul>
                    <li>Come invio i miei files?</li>
                    
                  </ul>
              </div>
            </div>
            <div class="nine columns offset-by-one mobile-two">
              <div class="panel">
                <span class="comment-arrow">&nbsp;</span>
      <p>Un volta completato l'ordine ti sarà possibile caricare i tuoi file direttamente dalla sezione STAO</p>
              
    </div>
            </div>
          </div>



          <div class="row">
            <div class="two columns mobile-two">
              
               <div class="comment-reply">
                  <ul>
                    <li>Quanto impiegate per fare la stampa?</li>
                    
                  </ul>
              </div>
            </div>
            <div class="nine columns offset-by-one mobile-two">
              <div class="panel">
                <span class="comment-arrow">&nbsp;</span>
      <p>La stampa viene normalmente evasa in 1 giorno lavorativo, ciò significa che potrai ricevere la stampa fra le 24 e 72 ore dall'ordine.</p>
              <p>Considera che i corrieri espressi in alcune zone e in casi particolari non consegnano in 24 ore ma in 48.</p>
    </div>
            </div>
          </div>



           
      </article>
      <p>
      &nbsp;
      </p>
      </div>
      </div>
      </div>
      
      
      <!-- End Feed Entry -->
</section> <!-- end comments -->
 
 
        




