@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-container">
    
    <div class="row">
      <div class="one columns centered">
        <span class="work-triangle-top">&nbsp;</span>
      </div>
    </div>



    <div class="blog-content-container">
      <div class="row">


        <h3>Pagamenti rapidi e sicuri attraverso PayPal</h3>
        
        <p>
                Utilizziamo il servizio PayPal per accettare pagamenti dai principali circuiti internazionali. Durante il pagmaneto sarete indirizzati su una pagina sicura (SSL) di PayPal dove potrete pagare direttamente con un conto PayPal oppure utilizzare la vostra carta di credito.
                Normalmente il pagmaneto viene processato immediatamanete, e dovrete vedere nel nostro sito che è stato ricevuto il pagamento.
             </p>
             <p>
                <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" title="Come funziona PayPal" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=700, height=600');"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="Marchi di accettazione PayPal"></a></td></tr></table><!-- PayPal Logo -->

             </p>
        
      </div>
      </div>
      
      
      <!-- End Feed Entry -->
</section> <!-- end comments -->
