@{
    ViewBag.Title = "Spedizione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-container">
    
    <div class="row">
      <div class="one columns centered">
        <span class="work-triangle-top">&nbsp;</span>
      </div>
    </div>



    <div class="blog-content-container">
      <div class="row">

      <h3>Spedizioni rapide e sicure</h3>
      <p>Ci affidiamo a partner esperti per la spedizione. Una volta che abbiamo preparato la vostra tesi, la impacchetiamo in modo che non possa rovinarsi in alcun modo e la consegnamo al nostro partner che provvede a farvela arrivare in pocchissimo tempo. </p>
      <p>Una mail vi confermerà la presa in carico e il numero di Traking del vostro pacco.</p>
        <p>
        &nbsp;
        </p>
        <p>
        &nbsp;
        </p>
      </div>
      </div>
      
      
      <!-- End Feed Entry -->
</section> <!-- end comments -->
